<a href="/directors">Director Index</a></br>
<a href="/films">Film Index</a>
<h1>Directors</h1>

<% @directors.each_with_index do |director, index| %>
<div id="director<%= index %>">
<h3><%= director.name %></h3>
<p>Created at: <%= director.created_at %></p>
</div>
<% end %>