<a href="/directors">Director Index</a></br>
<a href="/films">Film Index</a>
<h1><%= @director.name  %></h1>
  <p>Number of Films: <%= @director.film_count %></p>
  <p>Academy Awards: <%= @director.academy_awards%>
  <p>Deceased: <%= @director.deceased %>