<a href="/directors">Director Index</a>
<h1>Films</h1>
<% @films.each do |film| %>
  <h3><%= film.name %></h3>
  <p>Runtime: <%= film.runtime%></p>
  <p>Streaming on Netflix: <%= film.streaming_on_netflix %></p>
<% end %>